// Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

// Abstracts
@import './abstracts/variables';
@import './abstracts/functions';
@import './abstracts/mixins';

// Components
@import './components/navbar';
@import './components//movieCard';
@import './components/movieDetails';

// Pages
@import './pages/home';

html{
    font-size: 16px;

    @include tablet-down{
        font-size: 14px;
    }

    body{
        background-image: radial-gradient(#3a3a3a, $background-dark);
        color: white;
        font-family: "Roboto", sans-serif;

        .main-wrapper{
            margin: {
                top: 20px;
                bottom: 50px;
            }
        }

        div, header, footer{
            // border: 1px solid $theme-color;
        }
    }
}
