.intro{

    .omdb-link{
        color: $theme-color;
        margin-left: .5rem;
    }
}

.movie-of-day{

    @include phone-down{
        margin: 40px auto 0;

        h2.suggested-movie-title{
            text-align: center;
        }
    }

    
    h2.suggested-movie-title{
        color: $lightGrey;

        @include tablet-to-desktop{
            font-size: remify(26px);
        }
    }
    
    .movie-card{
        width: 300px;

        img.item-poster{
            object-fit: cover;
        }

        .item-info{
            // margin: 0 12px;
            margin-right: calc(var(--bs-gutter-x)* 0.5);
            margin-left: calc(var(--bs-gutter-x)* 0.5);
        }
    }
}