.movie-details{
    max-width: 800px;

    // missing some parent class for movie-item!

    .back-results{

        .col{
            display: flex;
            align-items: center;
        }

        svg{
            color: $theme-color;
            margin-right: .5rem;
        }

        .back-link{
            color: $theme-color !important;
            text-decoration: none;
        }
        
    }

    .title-wrapper{
        margin-top: 10px;
    }

    .metadata-wrapper{
        justify-content: space-between;
        color: $lightGrey;

        .ratings{
            display: flex;
            align-items: center;
        
            .rating{
                margin-right: .5rem;
            }
        
            svg{
                fill: $theme-color;
                margin-right: .25rem;
            }
        }
    }

    .main-wrapper{

        .img-col{
            
            img.poster{
                width: 100%;
            }
        }

        .contents-col{
            font-weight: 300;

            @include tablet-down{
                margin-top: 20px;
            }

            .plot{
                // font-weight: 300;
            }

            .crew{
                margin-top: 10px;
        
                .position{
                    font-weight: 700;
                }
            
                p{
                    margin-bottom: 0;
                }
            }
        }

        
    }
    
}