.navbar{
    height: 70px;

    @media screen and (max-width: 365px){
        height: 115px;
    }
    
    background-color: black;

    .navbar-brand{
        font-family: "Edu AU VIC WA NT Dots", cursive;
        // font-weight: 700;
        color: white;
    }

    .btn{
        background-color: $theme-color;
    }
}