.navbar{
    height: 60px;
    background-color: #1e1b1b;

    .navbar-brand{
        font-family: "Edu AU VIC WA NT Dots", cursive;
        // font-weight: 700;
        color: white;
    }

    .btn{
        background-color: aqua;
    }
}