.navbar{
    height: 60px;
    background-color: black;

    .navbar-brand{
        font-family: "Edu AU VIC WA NT Dots", cursive;
        // font-weight: 700;
        color: white;
    }

    .btn{
        background-color: $theme-color;
    }
}